/* Chatbot.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  .App{
    background-color: rgb(87, 219, 252);
  }
  
  .chatbot-container {
    width: 400px; 
    height: 600px; 
    border: 2px solid #4CAF50;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: peachpuff
  }
  /* Chatbot.css */
.chatbot-container .react-chatbot-kit-chat-bot-avatar img {
    width: 150px; 
    height: 70px; 
    border-radius: 50%; 
  }
  